<div class="csv-container">
    <h2>Importar Usuarios desde CSV</h2>

    <!-- contenedor para el input de archivo -->
    <div class="csv-input-container">
        <label class="custom-file-upload">
            <input type="file" accept=".csv" (change)="onFileSelected($event)" />
            Seleccionar Archivo
        </label>
    </div>

    <!-- contenedor para la tabla -->
    <div class="table-responsive">
        <table mat-table [dataSource]="usuariosPaginados" class="mat-elevation-z8" *ngIf="usuariosPaginados.length > 0">
            <!-- definir columnas -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let usuario"> {{ usuario.nombre }} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let usuario"> {{ usuario.email }} </td>
            </ng-container>

            <ng-container matColumnDef="documento_identidad">
                <th mat-header-cell *matHeaderCellDef> Documento de Identidad </th>
                <td mat-cell *matCellDef="let usuario"> {{ usuario.documento_identidad }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_nacimiento">
                <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>
                <td mat-cell *matCellDef="let usuario"> {{ formatFechaMostrar(usuario.fecha_nacimiento) }} </td>
            </ng-container>

            <!-- encabezado de la tabla -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- filas de la tabla -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <!-- controles de paginacion -->
    <div class="pagination-controls" *ngIf="usuarios.length > 3">
        <button (click)="cambiarPagina(-1)" [disabled]="paginaActual === 0">Anterior</button>
        <span>Pagina {{ paginaActual + 1 }} de {{ getTotalPaginas() }}</span>
        <button (click)="cambiarPagina(1)" [disabled]="paginaActual + 1 >= getTotalPaginas()">Siguiente</button>
    </div>

    <!-- contenedor para el boton -->
    <div class="csv-button-container" *ngIf="usuarios.length > 0">
        <button mat-raised-button color="primary" (click)="importarUsuarios()">
            Confirmar Importacion
        </button>
    </div>
</div>