<div class="registro-container">
  <form [class.shake]="error" (ngSubmit)="registrarUsuario()" class="registro-form" #form="ngForm">
    <h2>Registro</h2>
    
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" required placeholder="Carlos">
    
    <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="carlos@gmail.com">
    
    <label for="documento_identidad">Documento de identidad</label>
    <input type="text" id="documento_identidad" [(ngModel)]="documento_identidad" name="documento_identidad" required placeholder="Puede ser DNI, NIE, etc."> 
    
    <label for="fechaNacimiento">Fecha de Nacimiento</label>
    <input type="date" id="fechaNacimiento" [(ngModel)]="fechaNacimiento" name="fechaNacimiento" required placeholder="dd/mm/aaaa" value="2001-04-17">
    
    <div class="foto-container">
        <label for="foto">Foto</label>
        <div class="input-camera-container">
            <input type="file" id="foto" (change)="onFileSelected($event)" accept="image/*">
            <img src="/ic_camara.png" alt="Abrir Cámara" class="icono-camara" (click)="abrirCamara()">
        </div>

        <!-- boton para eliminar -->
        <div *ngIf="foto">
          <button type="button" (click)="eliminarFoto()" class="btn-eliminar-foto">Eliminar Foto</button>
        </div>
    </div>


    
    
    <div class="camera-container">
      <div *ngIf="mostrarCamara">
        <video #videoElement autoplay playsinline></video>
        <canvas #canvasElement style="display: none;"></canvas>
        <div class="camera-controls">
          <button type="button" (click)="capturarFoto()">Capturar Foto</button>
          <button type="button" (click)="cerrarCamara()">Cerrar Cámara</button>
        </div>
      </div>
    
      <div *ngIf="!mostrarCamara && fotoCapturada">
        <h2>Foto capturada:</h2>
        <img 
          #fotoPreview
          [src]="fotoUrl" 
          alt="Foto capturada" 
          class="foto-preview">
        <div class="camera-controls">
          <button type="button" (click)="abrirCamara()">Volver a tomar foto</button>
        </div>
      </div>
    </div>
    
    <div class="registro-boton-container">
      <button type="submit" [disabled]="cargando">
        {{ cargando ? 'Registrando...' : 'Registrarse' }}
      </button>
    </div>
    
    <div class="mensaje-exito" *ngIf="mensaje">{{ mensaje }}</div>
    <div class="mensaje-error" *ngIf="error">{{ error }}</div>
  </form>
</div>
