body {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
  }
  
  .registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .registro-form {
    margin-top: 20px;
    padding-top: 20px;
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 550px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 1rem;
    color: #0197F6;
  }
  
  label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #0197F6;
    color: white;
    border: none;
    padding: 10px;
    padding-top: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0175C2;
  }
  

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .shake {
    animation: shake 0.5s ease;
  }


  .btn-camara {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 10px;
  }
  


  .foto-container {
    display: flex;
    flex-direction: column;
  }

  .input-camera-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px; 
  }

  .icono-camara {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 0; 
    padding: 4px 0; 
  }


  .camera-container {
    position: relative;
    text-align: center;
  
    video, img {
      max-width: 50%;
      border-radius: 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  
    .camera-controls {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      gap: 10px;
  
      button {

        padding: 8px 16px;
        border-radius: 4px;
        border: none;
        background: #007bff;
        color: white;
        cursor: pointer;
  
        &:hover {
          background: #0056b3;
        }
      }
    }

    .camera-error {
      color: red;
      font-size: 14px;
      margin-top: 10px;
    }
  }


  .registro-boton-container {
    margin-top: 10px; /* Espacio adicional entre el botón y los controles de la cámara */
    text-align: center; /* Centrar el botón */
  }