/* button-providers.component.scss */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    // Cambia la altura si ya no necesitas ocupar toda la ventana
    margin: 8px 0 0; // Reduce el margen superior a 8px (ajústalo según sea necesario)
  }

.google-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  padding: 12px 16px;
  background-color: white;
  border: 1px solid #dadce0;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #5f6368;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #f8f9fa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #1a73e8; // Cambia el color del texto
    border-color: #1a73e8; // Cambia el color del borde
  }

  &:hover {
    background-color: #f8f9fa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .google-logo {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }

  span {
    font-size: 16px;
  }
}