
  <!-- Agregar el componente app-consultas -->
<app-consultas></app-consultas>

<div class="listado-container">

  <h2>Listado de Usuarios</h2>

<!-- mensajes de exito o error -->
<div *ngIf="mensaje" class="success-message">
  {{ mensaje }}
</div>

<div *ngIf="error" class="error-message">
  {{ error }}
</div>

  <!-- mensaje de carga -->
  <div *ngIf="cargando" class="loading-message">
    Cargando usuarios...
  </div>

  <!-- contenedor responsivo para la tabla -->
  <div *ngIf="!cargando" class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Documento de identidad</th>
          <th>Fecha de Nacimiento</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usuarios">
          <td data-label="Foto">
            <img 
              [src]="user.foto && user.foto !== '' ? user.foto : '/ic_no_foto.png'" 
              alt="Foto del usuario" 
              class="foto-usuario"
              (click)="seleccionarFoto(fileInput)"
            />
            <input 
              type="file" 
              #fileInput 
              accept="image/*" 
              style="display: none;" 
              (change)="actualizarFotoUsuario($event, user)"
            />
          </td>
          <td data-label="Nombre" (click)="almacenarDatosOriginales(user)">
            <input [(ngModel)]="user.nombre" placeholder="Nombre" required>
          </td>
          <td data-label="Email" (click)="almacenarDatosOriginales(user)">
            <input [(ngModel)]="user.email" type="email" placeholder="Email" required>
          </td>
          <td data-label="Documento de identidad" (click)="almacenarDatosOriginales(user)">
            <input [(ngModel)]="user.documento_identidad" placeholder="Documento de identidad" required>
          </td>
          <td data-label="Fecha de Nacimiento" (click)="almacenarDatosOriginales(user)">
            <input [(ngModel)]="user.fecha_nacimiento" type="date" required>
          </td>
          <td data-label="Acciones">
            <button (click)="iniciarActualizacionUsuario(user)">Actualizar</button>
            <button (click)="eliminarUsuario(user.documento_identidad)" class="btn-danger">Eliminar Usuario</button>
            <button (click)="eliminarFotoUsuario(user.documento_identidad)" class="btn-warning">Eliminar Foto</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Controles de paginación -->
    <div class="pagination-controls" *ngIf="totalUsuarios > limit">
      <button (click)="cambiarPagina(-1)" [disabled]="skip === 0">Anterior</button>
      <span>Página {{ (skip / limit) + 1 }} de {{ getTotalPaginas() }}</span>
      <button (click)="cambiarPagina(1)" [disabled]="skip + limit >= totalUsuarios">Siguiente</button>
    </div>
  </div>
</div>